<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmarch.monitorcenter.mapper.ServerExceptionMapper">

    <update id="updateState">
          update server_exception set status = 1
    </update>

    <select id="getAll" parameterType="map" resultType="com.netmarch.monitorcenter.bean.ServerException">
        select id,server_ip, device_ip,exception_desc,create_time,status from server_exception
          <where>
              <if test="startTime != null">
                and create_time >= #{startTime}
              </if>
              <if test="endTime != null">
                and create_time &lt;= #{endTime}
              </if>
              <if test="status != null">
                and status = #{status}
              </if>
          </where>
        order by status,
        create_time desc
    </select>

</mapper>