<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" th:href="@{/style/favicon.ico}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css?t=1525771196163}"  media="all">
    <script th:src="@{/jquery/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/layui/layui.js?t=1525771196163}" charset="utf-8"></script>
    <script th:src="@{/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/verification.js}" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script th:src="@{/html5shiv/html5.min.js}"></script>
    <script th:src="@{/respond.js/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/web/serverException/list.js}"></script>

</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">服务异常报警</li>
    </ul>
    <div class="layui-tab-content">
        <form class="layui-form layui-form-pane" id="form" th:action="@{/serverException/list}">

            <div style="padding: 1px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <div class="layui-row">
                                    <div class="layui-col-xs12">
                                        <div class="grid-demo grid-demo-bg1">服务异常报警</div>
                                    </div>

                                </div>

                            </div>
                            <div class="layui-card-body">

                                <div class="layui-tab-item layui-show">

                                    <table class="layui-table" lay-skin="line">
                                        <colgroup>
                                            <col width="10">
                                            <col width="90">
                                            <col width="200">
                                            <col width="200">
                                            <col width="90">
                                            <col width="200">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <th>
                                                <td>
                                                    报警时间
                                                </td>
                                                <td>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="startTime" id="startTime" th:value="${#dates.format(startTime,'yyyy-MM-dd HH:mm:ss')}"
                                                               autocomplete="off" placeholder="请输入开始时间" class="layui-input">

                                                    </div>

                                                </td>

                                                <td>

                                                    <div class="layui-input-inline">
                                                        <input type="text" name="endTime" id="endTime" th:value="${#dates.format(endTime,'yyyy-MM-dd HH:mm:ss')}"
                                                               autocomplete="off" placeholder="请输入结束时间" class="layui-input">
                                                    </div>
                                                </td>

                                                <td>状态</td>
                                                <td>
                                                    <div class="layui-input-inline">
                                                        <select name="status" id="status">
                                                            <option value="">--请选择--</option>
                                                            <option value="1" th:selected="${status==1}">已读</option>
                                                            <option value="0" th:selected="${status==0}">未读</option>
                                                        </select>
                                                    </div>
                                                </td>


                                                <td align="right">
                                                    <div class="layui-btn-group">
                                                        <button class="layui-btn layui-btn-sm">查询</button>&nbsp;
                                                    </div>
                                                    <div class="layui-btn-group">
                                                        <a class="layui-btn layui-btn-sm" onclick="customer.targer_url('/serverException/update')">全标记已读</a>&nbsp;
                                                    </div>
                                                </td>
                                            </th>
                                        </thead>
                                    </table>

                                    <table class="layui-table" lay-skin="line">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="10%">
                                            <col width="10%">
                                            <col width="10%">
                                            <col width="40%">
                                            <col width="10%">
                                            <col width="10%">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>服务器ip</th>
                                            <th>设备ip</th>
                                            <th>提示时间</th>
                                            <th>提示内容</th>
                                            <th>状态</th>
                                            <th>查看</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr  th:each="bean,stat : ${list.result}" th:style="${bean.status==0}?'background-color:#FFB5B5': ''" >
                                            <td th:text="${stat.count}">1</td>
                                            <td th:text="${bean.serverIp}">1</td>
                                            <td th:text="${bean.deviceIp}">1</td>
                                            <td th:text="${#dates.format(bean.createTime,'yyyy-MM-dd HH:mm:ss')}">2018-09-01</td>
                                            <td th:text="${bean.exceptionDesc}">提示内容</td>
                                            <td th:text="${bean.status==0 ?'未读':'已读'}">已读</td>
                                            <td>

                                                <a class="layui-btn layui-btn-sm layui-bg-blue" title="查看"th:onclick="'javascript:check('+${bean.id}+')'" >
                                                    <!--<i class="layui-icon"  >&#xe667;</i>-->
                                                    查看
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <!--分页引用-->
                                    <div th:replace="pages::pages"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>





    </div>

</div>
</body>
</html>