<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" th:href="@{/style/favicon.ico}">
    <link rel="stylesheet" th:href="@{/style/zTree/metroStyle/metroStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css?t=1525771196163}" media="all">
    <link rel="stylesheet" th:href="@{/web/serviceGz/serviceGs.css}" media="all">
    <script th:src="@{/jquery/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/layui/layui.js?t=1525771196163}" charset="utf-8"></script>
    <script th:src="@{/js/verification.js}" charset="utf-8"></script>
    <script th:src="@{/html5shiv/html5.min.js}"></script>
    <script th:src="@{/respond.js/respond.min.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.all-3.5.js}" charset="utf-8"></script>
    <script th:src="@{/zTree/jquery.ztree.excheck.js}" charset="utf-8"></script>
    <script th:src="@{/zTree/jquery.ztree.core-3.5.js}" charset="utf-8"></script>
    <script th:src="@{/zTree/jquery.ztree.exedit-3.5.js}" charset="utf-8"></script>
    <script th:src="@{/web/serviceGz/list.js}" charset="utf-8"></script>

</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">安装包管理</li>
    </ul>
    <div class="layui-tab-content">
        <form class="layui-form layui-form-pane" id="form" th:action="@{/serviceGz/index}" >

            <div style="padding: 1px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <div class="layui-row">
                                    <div class="layui-col-xs12">
                                        <div class="grid-demo grid-demo-bg1">安装包</div>
                                    </div>

                                </div>

                            </div>
                            <div class="layui-card-body">

                                <div class="layui-tab-item layui-show">

                                    <table class="layui-table" lay-skin="line">
                                        <colgroup>
                                            <col width="120">
                                            <col width="200">
                                            <col width="100">
                                            <col width="200">
                                            <col >
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <td>
                                                安装包类型
                                            </td>
                                            <td>
                                                <div class="layui-input-inline" >
                                                    <select class="layui-input" name="code"  id="code">
                                                        <option value="">请选择组类型</option>
                                                        <option th:each="tlist,typeStat:${typeList}" th:value="${tlist.code}" th:text="${tlist.name}"
                                                                th:selected="${tlist.code==query.code}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td align="right">
                                                <div class="layui-btn-group">
                                                    <button class="layui-btn layui-btn-sm">查询</button>&nbsp;
                                                    <button type="button" onclick="customer.targer_url('/serviceGz/add')"
                                                            class="layui-btn layui-btn-sm">新增安装包目录<i class="layui-icon"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </thead>
                                    </table>


                                    <div class="layui-row">
                                        <div class="layui-col-md2">
                                            <div class="layui-card-body">
                                                <table class="layui-table"  id="catalogTable" lay-skin="line">
                                                    <thead>
                                                        <th>目录</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td >
                                                                <ul id="gz" class="ztree"></ul>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="layui-col-md10">
                                            <div class="layui-card-body">

                                                <table class="layui-table"  lay-skin="line" id="detail">

                                                    <colgroup>
                                                        <col width="15%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="15%">
                                                        <col width="15%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="15%">
                                                    </colgroup>
                                                    <thead>
                                                        <th>安装包名称</th>
                                                        <th>缩写</th>
                                                        <th>版本号</th>
                                                        <th>创建时间</th>
                                                        <th>安装包路径</th>
                                                        <th>备注</th>
                                                        <th>部署状态</th>
                                                        <th id ="cz">操作</th>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>
